body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    order: 1;
    border: none;
}

nav {
    background-color: #0288D1;
    display: block;
}

nav ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav1, .nav2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    font-size: 14px;
    color: #fff;
}

header {
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("../selfie_rond.png");
    background-repeat: no-repeat;
    background-position: top 63% right 20%;
}

aside {
    width: 100%;
    order: 2;
    border: none;
}

.photo {
    display: none;
}

.loisirs {
    margin-bottom: 15px;
}

/* Résolution pour smartphone */
@media screen and (max-width: 767px) 
{
nav ul {
    flex-direction: column;
}

.nav1, .nav2 {
    width: 100%;
}

header {
    text-align: center;
    background-position: bottom 20px left 50%;
    padding-top: 0;
    padding-bottom: 200px;
    margin-left: 0;
}

header hr {
    display: none;
}
}