* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1190px;
    margin: auto;
    display: flex;
}

main {
    order: 2;
    width: 67%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

header {
    margin-left: 54px;
}

header hr {
    width: 58px;
    height: 1px;
    background-color: #0288D1;
    margin: 0;
    border: none;
}

aside {
    order: 1;
    background-color: #0288D1;
    width: 33%;
    border-left: 1px solid black;
}

aside h2 {
    text-align: center;
    background-color: #FFF;
    color: #0288D1;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.2em;
}

h1 + p {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.75;
    margin: 0;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
}

.prenom {
    color: #0288D1;
}

.photo {
    text-align: center;
}

.bloc {
    font-size: 12px;
    opacity: 0.75;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bloc p {
    margin-bottom: 0;
}

.bloc a, .pseudo-skype {
    margin-top: 0;
}

.a-propos p {
    font-size: 12px;
    opacity: 0.75;
    margin: 20px;
}