* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1190px;
    margin: auto;
    font-size: 12px;
    display: flex;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2em;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

hr {
    height: 1px;
    background-color: #0288D1;
    border: none;
}

/* Éléments de la partie main */
main {
    order: 2;
    width: 67%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

main h2 {
    margin-left: 55px;
    margin-bottom: 10px;
}

main h3 {
    margin-bottom: 12px;
}

main i {
    color: #0288D1;
    float: left;
    transform: translateY(33%);
}

header {
    margin-left: 54px;
    margin-bottom: 103px;
}

header hr {
    width: 58px;
    margin: 0;
}

header p {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.75;
    margin: 0;
}

.formation, .experience, .recommandations {
    width: 90%;
    margin: auto;
}

.formation1, .formation2, .formation3, .experience1, .experience2, .contenu-recommandations {
    display: flex;
}

.formation ul, .experience ul {
    flex: 1;
    padding-left: 10px;
}

.formation1 div, .formation2 div, .formation3 div, .experience1 div, .experience2 div {
    flex: 3;
}


.formation1, .formation2, .formation3, .experience1, .experience2, .recommandation1, .recommandation2 {
    opacity: 0.75;
}

/* Éléments de la partie aside */
aside {
    order: 1;
    background-color: #0288D1;
    width: 33%;
    border-left: 1px solid black;
}

aside h2 {
    text-align: center;
    background-color: #FFF;
    color: #0288D1;
}

.prenom {
    color: #0288D1;
}

.photo {
    text-align: center;
}

.bloc {
    opacity: 0.75;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bloc p {
    margin-bottom: 0;
}

.bloc a, .pseudo-skype {
    margin-top: 0;
}

.a-propos p {
    opacity: 0.75;
    margin: 20px;
}

.icones {
    width: 80%;
    margin: auto;
    opacity: 0.75;
    display: flex;
    justify-content: space-around;
}